@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100;0,9..144,200;0,9..144,300;0,9..144,400;0,9..144,500;0,9..144,600;0,9..144,700;0,9..144,800;0,9..144,900;1,9..144,100;1,9..144,200;1,9..144,300;1,9..144,400;1,9..144,500;1,9..144,600;1,9..144,700;1,9..144,800;1,9..144,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-family: "Fraunces", serif;
}

html {
  font-size: 62.5%;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
button {
  border: none;
  cursor: pointer;
}

/* -------------- */

body {
  background: #f2eae2;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  border-radius: 1rem;
  max-width: 60rem;
}
.card > * {
  flex: 1;
}
.card__main-img {
  height: 45rem;
}
.card__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
.card__textbox {
  background: white;
  padding: 3.2rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.card__sub-head {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 2rem;
  letter-spacing: 5px;
  color: #6c7289;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.5rem;
  text-transform: uppercase;
}
.card__header {
  margin-bottom: 2.4rem;
  color: #1c234b;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 3.2rem;
}
.card__description {
  margin-bottom: 2.9rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2.3rem;
  color: #6c7389;
}
.card__price-box {
  margin-bottom: 3rem;
  justify-content: flex-start;
  gap: 1.9rem;
}

.card__total-price {
  color: #3d8168;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 3.2rem;
}
.card__cut-price {
  text-decoration: line-through;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 2.3rem;
  color: #6c7289;
}
.card__add-to-card {
  font-family: "Montserrat", sans-serif;
  padding: 1.5rem 0;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: white;
  background-color: #1a4032;
  border-radius: 10px;
  width: 100%;
}
